.slider-container {
    position: relative;
    width: 200px;
    height: 20px;
    margin: 50px;
  }
  
  .slider-track {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: #ccc;
  }
  
  .slider-thumb {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9904a7;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    cursor: pointer;
  }
  
  .slider-value {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
  }
  
